* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: "Roboto";
}
.navbar-img {
    width: 30px;
}
.contenido, .titulo {
    background-color: black;
    color: #FFFFFF;
    font-weight: lighter;
}
.box, .btn-color {
    background-color: #0dcaf0;
}
.card-img-top {
    height: 177px;
}
.card-title {
    font-weight:300;
}
.footer-text {
    color: #FFFFFF;
    font-size: 20px;
}
.footer-icons, .icon {
    color: #FFFFFF;
    padding-right: 10px;
}
